* {
    margin: 0;
    padding:0;
}
body, html {
    width: 100%;
    overflow-y:hidden;

    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(img/faculdade.jpg);
    
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fundo{
    display: float;
    background-color: rgba(117, 116, 116, 0.5);
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    top: -470px;
    position: relative;
   z-index: 1000;
   color: white;
   font-size: 55px; 
}

p{
    top: -470px;
    position: relative;
   z-index: 1000;
   color: white;
   font-size: 30px; 
}