@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?7569244');
  src: url('../font/fontello.eot?7569244#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?7569244') format('woff2'),
       url('../font/fontello.woff?7569244') format('woff'),
       url('../font/fontello.ttf?7569244') format('truetype'),
       url('../font/fontello.svg?7569244#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7569244#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ead:before { content: '\e800'; } /* '' */
.icon-caixa_de_entrada:before { content: '\e801'; } /* '' */
.icon-unianalises:before { content: '\e802'; } /* '' */
.icon-inovates:before { content: '\e803'; } /* '' */
.icon-diploma:before { content: '\e804'; } /* '' */
.icon-educacao-continuada:before { content: '\e805'; } /* '' */
.icon-especializacao:before { content: '\e806'; } /* '' */
.icon-graduacao:before { content: '\e807'; } /* '' */
.icon-idiomas:before { content: '\e808'; } /* '' */
.icon-pagelines:before { content: '\e809'; } /* '' */
.icon-mestrados-doutorados:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-reunioes:before { content: '\e80c'; } /* '' */
.icon-presencial:before { content: '\e80d'; } /* '' */
.icon-icones-12:before { content: '\e80e'; } /* '' */
.icon-seta-abaixo:before { content: '\e80f'; } /* '' */
.icon-seta-direita-1:before { content: '\e810'; } /* '' */
.icon-seta-direita-banners:before { content: '\e811'; } /* '' */
.icon-video:before { content: '\e812'; } /* '' */
.icon-seta-esquerda-1:before { content: '\e813'; } /* '' */
.icon-seta-esquerda-banners:before { content: '\e814'; } /* '' */
.icon-logo:before { content: '\e815'; } /* '' */
.icon-duvida:before { content: '\e816'; } /* '' */
.icon-check:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e818'; } /* '' */
.icon-espaco-academico:before { content: '\e819'; } /* '' */
.icon-periodicidade-aulas:before { content: '\e81a'; } /* '' */
.icon-professor:before { content: '\e81b'; } /* '' */
.icon-agendar-consulta:before { content: '\e81c'; } /* '' */
.icon-picture:before { content: '\e81d'; } /* '' */
.icon-pin-1:before { content: '\e81e'; } /* '' */
.icon-rss-alt:before { content: '\e81f'; } /* '' */
.icon-menu-1:before { content: '\e820'; } /* '' */
.icon-desktop:before { content: '\e821'; } /* '' */
.icon-seta-direita:before { content: '\e822'; } /* '' */
.icon-newslatter:before { content: '\e823'; } /* '' */
.icon-left-circle:before { content: '\e824'; } /* '' */
.icon-seta-esquerda:before { content: '\e825'; } /* '' */
.icon-contato:before { content: '\e826'; } /* '' */
.icon-vcard-1:before { content: '\e827'; } /* '' */
.icon-book:before { content: '\e828'; } /* '' */
.icon-info-tecnicas:before { content: '\e829'; } /* '' */
.icon-descontos:before { content: '\e82a'; } /* '' */
.icon-teatro-1:before { content: '\e82b'; } /* '' */
.icon-star-workshops:before { content: '\e82c'; } /* '' */
.icon-programacao:before { content: '\e82d'; } /* '' */
.icon-parcela-fixa:before { content: '\e82e'; } /* '' */
.icon-narede:before { content: '\e82f'; } /* '' */
.icon-swimming:before { content: '\e830'; } /* '' */
.icon-flexibilidade-pagamento:before { content: '\e831'; } /* '' */
.icon-pagamento-dobro:before { content: '\e832'; } /* '' */
.icon-pagamento:before { content: '\e833'; } /* '' */
.icon-stop:before { content: '\e834'; } /* '' */
.icon-aluno-nao-regular:before { content: '\e835'; } /* '' */
.icon-bancas:before { content: '\e836'; } /* '' */
.icon-calendario:before { content: '\e837'; } /* '' */
.icon-lock:before { content: '\e838'; } /* '' */
.icon-ingresso-enem:before { content: '\e839'; } /* '' */
.icon-plus-circled:before { content: '\e83a'; } /* '' */
.icon-minus-circled:before { content: '\e83b'; } /* '' */
.icon-ingresso-historico:before { content: '\e83c'; } /* '' */
.icon-star-filled:before { content: '\e83d'; } /* '' */
.icon-download-outline:before { content: '\e83e'; } /* '' */
.icon-barcode:before { content: '\e83f'; } /* '' */
.icon-inscricao-online:before { content: '\e840'; } /* '' */
.icon-prova-vestibular:before { content: '\e841'; } /* '' */
.icon-mobile:before { content: '\e842'; } /* '' */
.icon-clock:before { content: '\e843'; } /* '' */
.icon-monitor:before { content: '\e844'; } /* '' */
.icon-remanescentes-medicina:before { content: '\e845'; } /* '' */
.icon-compartilhar:before { content: '\e846'; } /* '' */
.icon-seta-baixo:before { content: '\e847'; } /* '' */
.icon-link:before { content: '\e848'; } /* '' */
.icon-contato-1:before { content: '\e849'; } /* '' */
.icon-atendimento:before { content: '\e84a'; } /* '' */
.icon-pencil:before { content: '\e84b'; } /* '' */
.icon-plus-circle:before { content: '\e84c'; } /* '' */
.icon-ok:before { content: '\e84d'; } /* '' */
.icon-calendar-inv:before { content: '\e84e'; } /* '' */
.icon-arrow-left:before { content: '\e84f'; } /* '' */
.icon-plus-circled-1:before { content: '\e850'; } /* '' */
.icon-instagram-1:before { content: '\e851'; } /* '' */
.icon-tourvirtual:before { content: '\e852'; } /* '' */
.icon-arrow-left-circle:before { content: '\e853'; } /* '' */
.icon-enviar-email:before { content: '\e854'; } /* '' */
.icon-zoom-in:before { content: '\e855'; } /* '' */
.icon-arrow-right:before { content: '\e856'; } /* '' */
.icon-right-circle:before { content: '\e857'; } /* '' */
.icon-arrow-right-circle:before { content: '\e858'; } /* '' */
.icon-calendar-3:before { content: '\e859'; } /* '' */
.icon-calendario-acad:before { content: '\e85a'; } /* '' */
.icon-evento:before { content: '\e85b'; } /* '' */
.icon-leaf:before { content: '\e85c'; } /* '' */
.icon-evento-fora-campus:before { content: '\e85d'; } /* '' */
.icon-publicacoes:before { content: '\e85e'; } /* '' */
.icon-exposicao:before { content: '\e85f'; } /* '' */
.icon-locacao:before { content: '\e860'; } /* '' */
.icon-download-1:before { content: '\e861'; } /* '' */
.icon-teatro-2:before { content: '\e862'; } /* '' */
.icon-mic:before { content: '\e863'; } /* '' */
.icon-phone-outline:before { content: '\e864'; } /* '' */
.icon-aluno:before { content: '\e865'; } /* '' */
.icon-filtro:before { content: '\e866'; } /* '' */
.icon-docente:before { content: '\e867'; } /* '' */
.icon-passaporte-1:before { content: '\e868'; } /* '' */
.icon-logo-ods:before { content: '\e869'; } /* '' */
.icon-universo:before { content: '\e86a'; } /* '' */
.icon-tv:before { content: '\e86b'; } /* '' */
.icon-check-1:before { content: '\e86c'; } /* '' */
.icon-radio-1:before { content: '\e86d'; } /* '' */
.icon-map:before { content: '\e86f'; } /* '' */
.icon-lupa:before { content: '\e870'; } /* '' */
.icon-music:before { content: '\e871'; } /* '' */
.icon-calendar-2:before { content: '\e873'; } /* '' */
.icon-group:before { content: '\e874'; } /* '' */
.icon-graduation-cap:before { content: '\e876'; } /* '' */
.icon-chat:before { content: '\e878'; } /* '' */
.icon-intercambio_mapa:before { content: '\e879'; } /* '' */
.icon-intercambio_galeria:before { content: '\e87a'; } /* '' */
.icon-libras:before { content: '\e87b'; } /* '' */
.icon-carona:before { content: '\e87e'; } /* '' */
.icon-lattes:before { content: '\e885'; } /* '' */
.icon-inscricao:before { content: '\e886'; } /* '' */
.icon-email:before { content: '\e887'; } /* '' */
.icon-angle-circled-right:before { content: '\e88a'; } /* '' */
.icon-revista:before { content: '\e88c'; } /* '' */
.icon-calendar-1:before { content: '\e88f'; } /* '' */
.icon-play:before { content: '\e890'; } /* '' */
.icon-periodicos:before { content: '\e892'; } /* '' */
.icon-univates:before { content: '\e894'; } /* '' */
.icon-revista_digital:before { content: '\e895'; } /* '' */
.icon-oficinas:before { content: '\e896'; } /* '' */
.icon-search:before { content: '\e897'; } /* '' */
.icon-chat-1:before { content: '\e898'; } /* '' */
.icon-minus-circle:before { content: '\e899'; } /* '' */
.icon-youtube-1:before { content: '\e89c'; } /* '' */
.icon-book-1:before { content: '\e8a0'; } /* '' */
.icon-calendar-empty:before { content: '\e8a3'; } /* '' */
.icon-ingles:before { content: '\e8a5'; } /* '' */
.icon-bicycle:before { content: '\e8a7'; } /* '' */
.icon-eventos:before { content: '\e8a8'; } /* '' */
.icon-chat-reuniao:before { content: '\e8a9'; } /* '' */
.icon-location:before { content: '\e8aa'; } /* '' */
.icon-phone:before { content: '\e8ab'; } /* '' */
.icon-pdf:before { content: '\e8ad'; } /* '' */
.icon-cafe_cultura:before { content: '\e8ae'; } /* '' */
.icon-curriculo:before { content: '\e8af'; } /* '' */
.icon-estagio:before { content: '\e8b0'; } /* '' */
.icon-exposicoes:before { content: '\e8b1'; } /* '' */
.icon-musica:before { content: '\e8b2'; } /* '' */
.icon-gravata_icon:before { content: '\e8b3'; } /* '' */
.icon-teatro:before { content: '\e8b4'; } /* '' */
.icon-soundclound:before { content: '\e8b5'; } /* '' */
.icon-whats-1:before { content: '\e8b6'; } /* '' */
.icon-volume-down:before { content: '\e8b7'; } /* '' */
.icon-volume-off:before { content: '\e8b8'; } /* '' */
.icon-play-radio:before { content: '\e8b9'; } /* '' */
.icon-expandir-07:before { content: '\e8ba'; } /* '' */
.icon-volume-up:before { content: '\e8bb'; } /* '' */
.icon-volume:before { content: '\e8bc'; } /* '' */
.icon-warning-empty-1:before { content: '\e8bd'; } /* '' */
.icon-bicivates2:before { content: '\e8be'; } /* '' */
.icon-seta-acima:before { content: '\e8bf'; } /* '' */
.icon-hoteis:before { content: '\e8c0'; } /* '' */
.icon-interurbanos:before { content: '\e8c1'; } /* '' */
.icon-microonibus:before { content: '\e8c2'; } /* '' */
.icon-locadora:before { content: '\e8c3'; } /* '' */
.icon-tecnicos:before { content: '\e8c4'; } /* '' */
.icon-unianalises_micro:before { content: '\e8c5'; } /* '' */
.icon-avaliacao-presencial:before { content: '\e8c6'; } /* '' */
.icon-desmarcar-consulta:before { content: '\e8c7'; } /* '' */
.icon-accessibility:before { content: '\e8c8'; } /* '' */
.icon-unianalises_na:before { content: '\e8c9'; } /* '' */
.icon-unianalises_leite:before { content: '\e8ca'; } /* '' */
.icon-unianalises_fq:before { content: '\e8cb'; } /* '' */
.icon-formas-ingresso:before { content: '\e8cc'; } /* '' */
.icon-calendar:before { content: '\e8cd'; } /* '' */
.icon-virtual:before { content: '\e8ce'; } /* '' */
.icon-univates-e-voce:before { content: '\e8cf'; } /* '' */
.icon-vans:before { content: '\e8d0'; } /* '' */
.icon-urbanos:before { content: '\e8d1'; } /* '' */
.icon-warning-empty-2:before { content: '\e8d2'; } /* '' */
.icon-bilhetes:before { content: '\e8d3'; } /* '' */
.icon-mapa-pin:before { content: '\e8d4'; } /* '' */
.icon-espetaculos:before { content: '\e8d5'; } /* '' */
.icon-menu-2:before { content: '\e8d6'; } /* '' */
.icon-italiano:before { content: '\e8d7'; } /* '' */
.icon-frances:before { content: '\e8d8'; } /* '' */
.icon-espanhol:before { content: '\e8d9'; } /* '' */
.icon-alemao:before { content: '\e8da'; } /* '' */
.icon-juro-zero:before { content: '\e8db'; } /* '' */
.icon-radio:before { content: '\e8dc'; } /* '' */
.icon-classificacao_10:before { content: '\e8dd'; } /* '' */
.icon-classificacao_12:before { content: '\e8de'; } /* '' */
.icon-classificacao_14:before { content: '\e8df'; } /* '' */
.icon-classificacao_16:before { content: '\e8e0'; } /* '' */
.icon-classificacao_18:before { content: '\e8e1'; } /* '' */
.icon-classificacao_livre:before { content: '\e8e2'; } /* '' */
.icon-ingressos:before { content: '\e8e3'; } /* '' */
.icon-nao-graduado:before { content: '\e8e4'; } /* '' */
.icon-portador-diploma:before { content: '\e8e5'; } /* '' */
.icon-processo-medicina:before { content: '\e8e6'; } /* '' */
.icon-inestimentos:before { content: '\e8e7'; } /* '' */
.icon-quiz:before { content: '\e8e8'; } /* '' */
.icon-redacao-agendada:before { content: '\e8e9'; } /* '' */
.icon-redacao-univates:before { content: '\e8ea'; } /* '' */
.icon-reingresso:before { content: '\e8eb'; } /* '' */
.icon-transferencia-externa:before { content: '\e8ec'; } /* '' */
.icon-wordpress:before { content: '\e8ed'; } /* '' */
.icon-transferencia-interna:before { content: '\e8ee'; } /* '' */
.icon-round-check:before { content: '\e8ef'; } /* '' */
.icon-contact-phone:before { content: '\e8f0'; } /* '' */
.icon-contact-email:before { content: '\e8f1'; } /* '' */
.icon-atend-polo:before { content: '\e8f2'; } /* '' */
.icon-commerical-building:before { content: '\e8f3'; } /* '' */
.icon-oficinas-1:before { content: '\e8f5'; } /* '' */
.icon-agendamentos:before { content: '\e8f6'; } /* '' */
.icon-centro-clinico:before { content: '\e8f7'; } /* '' */
.icon-dicas-saude:before { content: '\e8f8'; } /* '' */
.icon-fale-conosco:before { content: '\e8f9'; } /* '' */
.icon-informacoes-uteis:before { content: '\e8fa'; } /* '' */
.icon-resultados-exames:before { content: '\e8fb'; } /* '' */
.icon-lock-1:before { content: '\e8fc'; } /* '' */
.icon-banca:before { content: '\e8fd'; } /* '' */
.icon-boleto:before { content: '\e8fe'; } /* '' */
.icon-biblioteca:before { content: '\e8ff'; } /* '' */
.icon-clock-1:before { content: '\e900'; } /* '' */
.icon-colacao-grau:before { content: '\e901'; } /* '' */
.icon-educacao-continuada-1:before { content: '\e902'; } /* '' */
.icon-ead-1:before { content: '\e903'; } /* '' */
.icon-warning-empty:before { content: '\e904'; } /* '' */
.icon-seta-ir:before { content: '\e905'; } /* '' */
.icon-certificado:before { content: '\e906'; } /* '' */
.icon-inovacao:before { content: '\e907'; } /* '' */
.icon-pin-2:before { content: '\e908'; } /* '' */
.icon-projetos:before { content: '\e909'; } /* '' */
.icon-tecnovates:before { content: '\e90a'; } /* '' */
.icon-social:before { content: '\e90b'; } /* '' */
.icon-right-open:before { content: '\e90d'; } /* '' */
.icon-left-open:before { content: '\e90e'; } /* '' */
.icon-plus:before { content: '\e910'; } /* '' */
.icon-idiomas-1:before { content: '\e911'; } /* '' */
.icon-messenger:before { content: '\e912'; } /* '' */
.icon-finais-02:before { content: '\e914'; } /* '' */
.icon-sair:before { content: '\e915'; } /* '' */
.icon-error:before { content: '\e917'; } /* '' */
.icon-book-3:before { content: '\e918'; } /* '' */
.icon-radio_checked:before { content: '\e919'; } /* '' */
.icon-cancel-1:before { content: '\e91a'; } /* '' */
.icon-minus:before { content: '\e91c'; } /* '' */
.icon-temperatire2:before { content: '\e925'; } /* '' */
.icon-naestrada:before { content: '\e926'; } /* '' */
.icon-financiamentos:before { content: '\e928'; } /* '' */
.icon-intercambio:before { content: '\e92b'; } /* '' */
.icon-seta-clique:before { content: '\e92e'; } /* '' */
.icon-rosa-dos-ventos:before { content: '\e932'; } /* '' */
.icon-grad-aula:before { content: '\e933'; } /* '' */
.icon-grad-calendario-turno:before { content: '\e934'; } /* '' */
.icon-grad-equipe:before { content: '\e935'; } /* '' */
.icon-grad-galeria:before { content: '\e936'; } /* '' */
.icon-grad-internacional:before { content: '\e937'; } /* '' */
.icon-grad-seta-bot-lef:before { content: '\e93a'; } /* '' */
.icon-grad-seta-bot-rig:before { content: '\e93b'; } /* '' */
.icon-grad-seta-top-lef:before { content: '\e93c'; } /* '' */
.icon-grad-seta-top-rig:before { content: '\e93d'; } /* '' */
.icon-diferencial-01:before { content: '\e93e'; } /* '' */
.icon-diferencial-02:before { content: '\e93f'; } /* '' */
.icon-diferencial-03:before { content: '\e940'; } /* '' */
.icon-diferencial-04:before { content: '\e941'; } /* '' */
.icon-localizacao:before { content: '\e942'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-pinterest:before { content: '\f0d2'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whats:before { content: '\f232'; } /* '' */
.icon-snapchat:before { content: '\f2ac'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */